    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai1.jpg" alt="Random first slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>TAJ MAHAL PALACE</h3>
                <p>India's First 5 Star Hotel</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai2.jpg" alt="Random second slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>HALL</h3>
                <p>Hall that makes you comfortable</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai3.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>Winery</h3>
                <p>Best Drinks you would have from All over the Globe</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai4.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>Dining</h3>
                <p>Royal Dining,Live life King Size</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai5.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>ROYALITY</h3>
                <p>Rooms with Full Royal thoughts</p>
            </div>
        </ng-template>
       
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai6.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>ROYALITY</h3>
                <p>Rooms with Full Royal thoughts</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai7.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>ROYALITY</h3>
                <p>Rooms with Full Royal thoughts</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai8.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>ROYALITY</h3>
                <p>Rooms with Full Royal thoughts</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai9.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>ROYALITY</h3>
                <p>Rooms with Full Royal thoughts</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/images/mumbai10.jpg" alt="Random third slide" width="600" height="300"
                    style="margin-top: 25px;">
            </div>
            <div class="carousel-caption">
                <h3>ROYALITY</h3>
                <p>Rooms with Full Royal thoughts</p>
            </div>
        </ng-template>
    </ngb-carousel>
   
